
.loading {
  z-index: 99999999;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.activityIndicator {
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
  &.transparent {
    transition: opacity 0.6s ease-in-out;
    opacity: 0;
  }
}

