.categoryContainer {
  width: calc(100% + 32px);
  margin-left: -16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.scroller {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.categorySuggestions {
  width: max-content;
  padding-right: 16px;
}

.suggestion {
  margin-left: 16px;
  float: left;
  padding: 8px 18px;
  border-radius: 99px;
  border: 1px solid #DCDCDF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ECECEC;
  p {
    margin: 0;
  }
}

.categoryName {
  font-weight: 500;
  font-size: 17px;
  color: black;
}