body {
  margin: 0;
  background-color: #FAFAFA;
  font-family: 'Avenir Next';
}

input:disabled::-webkit-input-placeholder { /* WebKit browsers */
  color: #c4c4c4;
}

input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c4c4c4;
}

input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c4c4c4;
}

input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #c4c4c4;
}

.container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 32px);
  &.main {
    justify-content: space-between;
  }
}

.title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 95px;
  max-width: 314px;
}

button {
  margin: 0px 4px;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-size: 17px;
  font-style: normal;
  &:focus {
    outline: none;
  }
}

.mainButton {
  background: #FF9500;
  color: white;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.secondaryButton {
  background: white;
  color: #FF9500;
  &.deleteButton {
    color: #FF3B30;
  }
}

.logo {
  width: 178px;
  height: 178px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 104px;
  transform: rotate(-9deg);
}