
.fullList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  max-width: 570px;
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  justify-content: flex-start;
  flex-direction: column;
  &.disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
  }
}

.noResults {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-weight: 500;
    font-size: 22px;
    color: #888B90;
  }
}

.disableOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}