
.footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  &.disabled {
    border-color: #ebebeb;
  }
}

.addButton {
  width: 74px;
  height: 41px;
  button {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #FF9500;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: #ebebeb;
      border: none;
    }
  }
}

.itemSelectedButtons {
  &.hidden {
    visibility: hidden;
  }
  button {
    width: 71px;
    height: 41px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 18px;
    &:focus {
      outline: none;
    }
  }
}