
.footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  display: flex;
  justify-content: center;
  .buttonsContainer {
    width: 100%;
    max-width: 570px;
    display: flex;
    justify-content: space-between;
  }
  &.disabled {
    border-color: #ebebeb;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
  }
}

.itemSelectedButtons {
  &.hidden {
    visibility: hidden;
  }
}