.retryButton {
  padding: 8px 24px;
  color: #FF9500;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.dismissButton {
  padding: 8px 24px;
  color: #FF9500;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.subtitle.error {
  margin-bottom: 20px;
}